Token validation can't find authorization header in lower case

### Description

Token validator try to find header "Authorization", but in http2 standard clients uses header name in lower case - "authorization". See `decorators/security.py` line 161. Its `request.headers` attribute is a simple dict, so case sensitive.

### Expected behaviour

Header "authorization"  is usable in lower case.

### Actual behaviour

Only "Authorization" header is usable (first letter in capital).

### Steps to reproduce

- enable security "bearerAuth" in specification;
- create app with "strict_validation=True";
- try to request with header "authorization".


[HTTP/2 specification definition (Section 8)](https://httpwg.org/specs/rfc7540.html#rfc.section.2.2):
> 8. HTTP Message Exchanges
HTTP/2 is intended to be as compatible as possible with current uses of HTTP. This means that, from the application perspective, the features of the protocol are largely unchanged. To achieve this, all request and response semantics are preserved, although the syntax of conveying those semantics has changed.
Thus, the specification and requirements of HTTP/1.1 Semantics and Content [RFC7231], Conditional Requests [RFC7232], Range Requests [RFC7233], Caching [RFC7234], and Authentication [[RFC7235](https://httpwg.org/specs/rfc7235.html)] are applicable to HTTP/2. **_Selected portions of HTTP/1.1 Message Syntax and Routing [RFC7230], such as the HTTP and HTTPS URI schemes, are also applicable in HTTP/2, but the expression of those semantics for this protocol are defined in the sections below._**

The emphasized line does not mention that message exchanges have any modification to the Authentication spec, but rather a modification to the entire message syntax.

> 8.1.2. HTTP Header Fields
HTTP header fields carry information as a series of key-value pairs. For a listing of registered HTTP headers, see the "Message Header Field" registry maintained at <https://www.iana.org/assignments/message-headers>.
Just as in HTTP/1.x, header field names are strings of ASCII characters that are compared in a case-insensitive fashion. However, header field names MUST be converted to lowercase prior to their encoding in HTTP/2. A request or response containing uppercase header field names MUST be treated as malformed (Section 8.1.2.6).

[HTTP/2 (Section 8.1.3)](https://httpwg.org/specs/rfc7540.html#n-examples) shows some example for HTTP/1.1 to HTTP/2.

Best you could possibly do is create your custom validator to process headers using the following links for connexion:
- [Custom validator for requests](https://connexion.readthedocs.io/en/latest/request.html#custom-validators)
- [Custom validator for response](https://connexion.readthedocs.io/en/latest/response.html#custom-validator)

Resources:
[HTTP Registry](https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml)

> Are you using Flask or AioHttp?
> Headers in Flask should be case-insensitive AFAIK

We using aiohttp. If provide request into handlers (it's optional with connexion, and it will be aiohttp Request object) the request.headers is CIMultiDictProxy object, where keys are case insensitive. But in out-of-the-box auth validator we have request as ConnexionRequest object, where request.headers is a simple dict, so it keys are case sensitive.

@dstarod I wasn't able to reproduce your issue.
Here is what I did:
I modified the example in examples/openapi3/aiohttp
``` hello.py
#!/usr/bin/env python3

import connexion

def decode_token(a):
    pass


def get_secret():
    return "wow"

def post_greeting(name: str, body=None):
    print(body)
    return connexion.lifecycle.ConnexionResponse('Hello {name}'.format(name=name))

if __name__ == '__main__':
    app = connexion.AioHttpApp(__name__, port=9090, specification_dir='openapi/')
    app.add_api('helloworld-api.yaml', arguments={'title': 'Hello World Example'})
    app.run()
```
and the spec to include a secure endpoint
``` openapi/helloworld-api.yaml
openapi: "3.0.0"

info:
  title: Hello World
  version: "1.0"
servers:
  - url: http://localhost:9090/v1.0

paths:
  /secret:
    get:
      summary: Return secret string
      operationId: hello.get_secret
      responses:
        '200':
          description: secret response
          content:
            'text/plain':
              schema:
                type: string
      security:
      - jwt: ['secret']

components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: hello.decode_token
```
and applied this patch to current master in order to have a breakpoint
```
diff --git a/connexion/decorators/security.py b/connexion/decorators/security.py
index 7920fdc..671f9dc 100644
--- a/connexion/decorators/security.py
+++ b/connexion/decorators/security.py
@@ -161,6 +161,8 @@ def verify_authorization_token(request, token_info_func):
     :param token_info_func: types.FunctionType
     :rtype: dict
     """
+    import ipdb
+    ipdb.set_trace()
     authorization = request.headers.get('Authorization')
     if not authorization:
         return None

```
then started the API and curl'd the endpoint:
```
curl -v --http2 -H 'authorization: bearer ofbadnews' localhost:9090/v1.0/secret
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 9090 (#0)
> GET /v1.0/secret HTTP/1.1
> Host: localhost:9090
> User-Agent: curl/7.58.0
> Accept: */*
> Connection: Upgrade, HTTP2-Settings
> Upgrade: h2c
> HTTP2-Settings: AAMAAABkAARAAAAAAAIAAAAA
> authorization: bearer ofbadnews
```
in that function, I can see that the `request.headers` object is a `CIMultiDictProxy`, and I'm able to access the header with arbitrary case.
```
ipdb> request.headers
<CIMultiDictProxy('Host': 'localhost:9090', 'User-Agent': 'curl/7.58.0', 'Accept': '*/*', 'Authorization': 'bearer ofbadnews')>
ipdb> request.headers.get('authorization')
'bearer ofbadnews'

```
Also of note, it looks like AioHttp actually converts the Authorization header to a canonical view:
https://github.com/aio-libs/aiohttp/blob/7a324fd46ff7dc9bb0bb1bc5afb326e04cf7cef0/aiohttp/hdrs.py#L38

Let me know what I'm missing?



Which version of connexion are you using ?
It looks like a duplicate of #824, which is fixed on last version.

