Status code 204 should be allowed to return headers metadata

Currently connexion does not provide a way to return headers with metadata on [204 HTTP response codes](https://github.com/zalando/connexion/blob/master/connexion/decorators/produces.py#L123-L125) from endpoints. On my perspective it should be allowed as described in the [RFC-2616 section 10.2.5](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) of HTTP/1.1.